<div class="container">
  <form>
  <div>
    <label for="content">Donne moi tes ingredients wesh</label>
    <input id="content" type="text" name="content" />
  </div>
  <div>
    <input type="submit" value="Send" />
  </div>
</form>
  <%# link_to "generate a recipe", user_recipes_path(current_user), data: {turbo_method: :post} %>
</div>
