.navbar {
  justify-content: space-between;
  background: black;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 60px;
}

.nav-link {
  color: rgb(247, 244, 244);
  font-size: 25px;
}
